<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Loan Generation Form</title>
    <link rel="stylesheet" href="/assets/stylesheets/loanform.css">

</head>

<body>

<!-- Logic to render Agreement content-->    
<form id='form' action="/document/submit" method="post">
    <div class="page">
    <% if (content.length) { %>
        <% for(let item of content)  { %>
            <% for(let list of item.content_stack)  { %>
                <%- list.content_body %>
            <% } %>
        <% } %>
    <% } else {%> 
            <div> Content Not Found </div>
            <%} %> 
<input type="hidden" id="dataUrl" name="dataUrl">
<input type="hidden" name="xxTrustedFormCertUrl">
<input type="submit" value="Agree and Submit">
</form>


<!-- script to include singpad functionality--> 
<script src="/assets/scripts/signpad.js"></script>
 

<!-- TrustedForm -->
    <script type="text/javascript">
        (function () {
            var tf = document.createElement('script');
            tf.type = 'text/javascript';
            tf.async = true;
            tf.src = ("https:" == document.location.protocol ? 'https' : 'http') +
                '://api.trustedform.com/trustedform.js?field=xxTrustedFormCertUrl&use_tagged_consent=true&l=' +
                new Date().getTime() + Math.random();
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(tf, s);
        })();
    </script>
    <noscript>
        <img src='https://api.trustedform.com/ns.gif' />
    </noscript>
 <!--   End TrustedForm -->

</body>

</html>