.section {
  padding: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

.img{
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
}

.logo-center {
  text-align: center;
  margin-bottom: 20px;
}

.logo-center img {
  max-width: 150px;
  height: auto;
}

h2, h3, h4, h5 {
  color: #333;
  margin-top: 20px;
}

ul {
  margin-left: 20px;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
}

canvas {
  border: 3px solid #bd3030;
  background: #907f7f;
  display: block;
  margin-top: 15px;
}

button.btn-default {
  margin-top: 10px;
}